# Win2Linux Debian 12 Unattended Preseed Configuration
d-i debian-installer/locale string en_US.UTF-8
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/xkb-keymap select us

# Network
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string debian-dualboot
d-i netcfg/get_domain string local

# Mirror
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

# Account setup
d-i passwd/root-login boolean false
d-i passwd/user-fullname string Linux User
d-i passwd/username string user
d-i passwd/user-password password changeme
d-i passwd/user-password-again password changeme

# Partitioning: Only use free unallocated space
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic

# Bootloader
d-i grub-installer/only_debian boolean false
d-i grub-installer/with_other_os boolean true

# Finish
d-i finish-install/reboot_in_progress note
